<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Users</title>
	</head>
	
	<body>
		<h1>ログイン</h1>
		
		<form th:object="${form}" th:action="@{/login}" th:method="post">
			<table>
				<tr>					
					<td>
						<input type="text" th:field="*{id}" placeholder="社員番号">
					</td>
					<td>
						<input type="text" th:field="*{password}" placeholder="パスワード">
					</td>
					<td>
						<input type="submit" value="ログイン">
					</td>
				</tr>
			</table>			
		</form>
	</body>
	
</html>