<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Users</title>
	</head>
	
	<body>
		<h1>社員登録</h1>
		
<!--		urlが/newのpostを呼び出す-->
		<form th:object="${userForm}" th:action="@{/new}" th:method="post">
			<table>
				<tr>
					<th>名前</th>
					<th>パス</th>
					<th>誕生日</th>
					<th>性別</th>
				</tr>
				<tr>
					<td>
						<input type="text" th:field="*{name}">
					</td>
					<td>
						<input type="text" th:field="*{password}">
					</td>
					<td>
						<input type="text" th:field="*{birthday}">
					</td>
					<td>
						<input type="text" th:field="*{gender}">
					</td>
				</tr>
			</table>
			<input type="submit" value="登録">
		</form>
	</body>
	
</html>